<h1>Carrito {{this.cartId}}</h1>

<table id="main" role="grid">
    {{!-- <tr>
        <th>Cart ID</th>
    </tr> --}}
    {{!-- <tr>
        <td>{{this._id}}</td>
    </tr> --}}
    <tr>
        <th>Product ID</th>
        <th>Title</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Quantity</th>
    </tr>
    {{#each payload}}
    <tr>
        <td>{{this.productId._id}}</td>
        <td>{{this.productId.title}}</td>
        <td>{{this.productId.price}}</td>
        <td>{{this.productId.stock}}</td>
        <td>{{this.quantity}}</td>
    </tr>
    {{/each}}
</table>
<script src="/js/cart.js"></script>